html, body
{
  height:100%;
  margin:0;
}
#nav
{
  height:12.5%;
  width:100%;
  background-color:#43d3e0;
  margin:auto;
  text-align:center;
  text-shadow: 1px 2px blue;
}
a
{
  text-decoration:none;
  font-size:28px;
  margin-left:25px;
  margin-right:25px;
  margin-top:20px;
  color:#ff4d4d;
  font-family:'Poppins', serif;
  font-weight:bold;
}
a:hover
{
  text-decoration:none;
  font-family:'Luckiest Guy', cursive;
  font-size:40px;
  margin-left:25px;
  margin-right:25px;
  margin-top:20px;
}
#main
{
  height:82.5%;
  background-image: url("../img/rainbow.jpg");
  background-repeat:no-repeat;
  background-size:100% 100%;
  width:100%;
  margin:auto;
  text-shadow: 2px 1px blue;
}
h1
{
  font-size:80px;
  text-align:center;
  color:#ff0000;
  font-family: 'Luckiest Guy', cursive;
}
p
{
  font-size:80px;
  text-align:center;
  color:#ff0000;
  font-family: 'Luckiest Guy', cursive;
}
#footer
{
  height:5%;
  background-color:#43d3e0;
  width:100%;
  margin:auto;
}